@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

/* Common Styles start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.pink-btn {
    background-color: #E55473;
    color: #fff;
    border: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 600;
}

.pink-highlight {
    color: #E55473;
}

/* Common Styles end */

/* header start */

header {
    background-color: #e554731a;
    margin-bottom: 200px;
}

header img {
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.half-width {
    width: 40%;
}

.header-text-section {
    display: flex;
    align-items: center;
}

.header-text-section h1 {
    font-size: 80px;
    font-weight: 900;
    color: #272727;
}

.header-text-section p {
    color: #27272799;
    margin: 30px 0;
}

/* header end */

/* featured start */

.featured-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.featured-section h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 900;
}

.featured-section p {
    color: #27272799;
    margin: 30px 0;
    width: 40%;
    margin-bottom: 80px;
}

.featured-flowers {
    display: flex;
    justify-content: space-between;
}

.featured-flowers .featured-flower {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 460px;
    overflow: hidden;
    margin: 0px 10px;
}

.featured-flowers div {
    margin: 0px 10px;
}

.featured-flowers h5 {
    font-size: 20px;
    margin: 15px 0px;
    text-decoration: underline;
}

.featured-flower {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.featured-flower img {
    width: 100%;
}

#featured-flower-1 {
    background-color: #a7216226;
    padding: 20px 50px 0px 50px;
}

#featured-flower-2 {
    background-color: #0597a026;
    padding: 20px 50px 0px 50px;
}

#featured-flower-3 {
    background-color: #477d1126;
    padding: 20px 50px 0px 50px;
}

/* featured end */

/* icon start */

.icon-section {
    background-color: #2727270d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
    border-radius: 10px;
    margin-bottom: 200px;
}

.icon-box p {
    color: #272727cc;
    margin: 20px 0px;
}

/* icon end */

/* deal start */

.deal-section {
    background-color: #e554730d;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-bottom: 200px;
}

.deal-section div {
    width: 40%;
}

.deal-section h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.deal-section p {
    color: #27272799;
    margin: 30px auto;
    width: 80%;
}

/* deal end */

/* instagram start */

.instagram-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.instagram-section h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 900;
}

.instagram-section p {
    color: #27272799;
    margin: 30px 0;
    width: 40%;
    margin-bottom: 80px;
}

.instagram-flowers {
    display: flex;
    justify-content: space-between;
}

.instagram-flowers img {
    margin: 0px 10px;
}

/* instagram end */

/* subscribe start */

.subscribe-section {
    min-height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/subscribe-bg.png');
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 200px;
}

.subscribe-section h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 900;
}

.subscribe-section p {
    color: #27272799;
    margin: 30px 0;
    width: 40%;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-row input {
    padding: 15px;
    width: 800px;
    margin-right: 20px;
    border: 0;
    border-radius: 5px;
}

/* subscribe end */

/* footer start */

footer {
    background-color: #111010;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    color: #fff;
}

footer div {
    width: 40%;
}

footer h3 {
    font-size: 40px;
    font-weight: 800;
}

footer p {
    margin: 30px auto;
    width: 80%;
}

/* footer end */